$device-mobile-s: 320px;
$device-mobile-m: 375px;
$device-mobile-l: 425px;
$device-mobile: 500px;
$device-tablet: 768px;
$device-laptop: 1024px;
$device-desktop: 1440px;
$device-2k: 2048px;
$device-4k: 2560px;

// site layout
$layout-width: 1080px;
$sidebar: 240px;
$modal-threshold: 680px;
$navbar-height: 64px;
$vw55: 1112px; // 55vw in stylus
