* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

ol li,
ul li {
  list-style: none;
}

ol,
ul {
  padding-left: 0;
}

img {
  max-width: 100%;
  border: 0;
  background: 0 0;
}
