::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #3dd9b6;
  cursor: pointer;
}

::-webkit-scrollbar-track-piece {
  background: 0 0;
}

::selection {
  background: rgb(33 150 243 / 20%);
}
